*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Adam;
    src: url(../libs//fonts//adam.cg_pro-webfont.woff2);
}


body, html {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

/*==============

================*/

.hero__text {
    font-family: 'Adam';
    text-shadow: 2px 2px 0 rgba(0,0,0,0.2);
}

.style_prevu_kit
{
    font-size: 3rem;
    display:inline-block;
    border:0;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   

}

.style_prevu_kit:hover
{
    cursor: pointer;
    color: #ffc600;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.5);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.5);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.5);
    transition: all 200ms ease-in;
    transform: scale(1.5);
}




nav { 
    text-transform: uppercase;
}